<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div id="root" >
        @RenderBody()
       
    </div>
    <script src="./node_modules/react/dist/react.js"></script>
    <script src="./node_modules/react-dom/dist/react-dom.js"></script>
    <script src="./node_modules/react-redux/dist/react-redux.js"></script>

   

    <script src="~/Scripts/dist/bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
